.player-control{
    background: #3d3d3d;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.player-menu{
    display: flex;
    height: 100px;
    width: 30%;
    flex-direction: column;
    background: none;
    position: absolute;
}
.player-options{
    height: 50px;
    display: flex;
    justify-content: center;
}

.player-NavBar{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}