main.home-main{
    flex: 1;
}

main.home-main ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    list-style: none;
}

@media(max-width:650px){
    main.home-main ul {
        grid-template-columns: 1fr 1fr;
    }
}

li.singer-item{
    background: none;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    width: 200px;

}


li.singer-item img{    
    width: 230px;
    height: 230px;
}

li.singer-item img:hover{
    transform: translate(0,-7px);
    box-shadow: 6px 6px 6px rgb(0,0,0, 0.2);
}

li.singer-item .item-desc{
    display:flex;
    flex-direction: column;
}

li.singer-item a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

li.singer-item span{
    font-size:15px;
    color:#999;
    margin-top:2px;
}