#now-playing-bar{
    display: flex;
    height: 100%;
    width: 100%;
    background: black;
}

#now-playing-bar .now-playing {
    flex: 1;
}

#now-playing-bar .now-playing .music-info{
    display: flex;
    height: 100%;
    padding: 0 2rem;
    align-items: center;
}

#now-playing-bar .now-playing .music-info img {
    width: 7rem;
    height: 7rem;
    margin-right: 2rem;
}

#now-playing-bar .now-playing .music-info span{
    overflow-x: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    text-decoration: none;
    color: var(--color-title-in-primary);
    max-width: 2rem;
}

#now-playing-bar .now-playing .music-info .music-info-box{
    display: flex;
    flex-direction: column;

    max-width: 20rem;

    margin-right: 2rem;
}

#now-playing-bar .now-playing .music-info .music-info-box a{
    overflow-x: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    text-decoration: none;
    color: var(--color-title-in-primary);
}

#now-playing-bar .now-playing .music-info button {
    background: transparent;
    border: none;
}

#now-playing-bar .now-playing .music-info button:focus{
    outline: none;
    box-shadow: none;
}

#now-playing-bar .now-playing .music-info button svg {
    height:2.3rem;
    width: 2.3rem;
}

#now-playing-bar .player-control {
    flex: 3;
    display: flex;
    justify-content: space-between;
}

#now-playing-bar .player-control .main-controls{
    display: flex;
    flex-direction: column;
    flex: 2;
}

#now-playing-bar .player-control .player-control-buttons{
    display: flex;
    justify-content: space-between;

    width: 30rem;
    height: 50%;
    margin: 1rem auto;
}

#now-playing-bar .player-control .player-control-buttons button {
    border: none;
    background: none;
    color: var(--color-title-in-primary);
}

#now-playing-bar .player-control .player-control-buttons .main-control{
    display: flex;
    align-items: flex-start;
}

#now-playing-bar .player-control .player-control-buttons .secundary-control{
    font-size: 1.5rem;
}

#now-playing-bar .player-control .player-control-buttons .main-control button{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.btn-skip{
    height: 4rem;
}

#now-playing-bar .player-control .player-control-buttons .main-control button:first-child{
    transform: rotate(180deg);
}


#now-playing-bar .player-control .progress-bar{
    width: 80%;
    height: 100%;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem;
}

#now-playing-bar .player-control .progress-bar span{
    color: var(--color-title-in-primary);
    font-size: 1.5rem;
    margin: 0 1rem;
}

#now-playing-bar .other-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
}

#now-playing-bar .other-controls .button-block{
    margin-right: 4rem;
    display: flex;
}

#now-playing-bar .other-controls .button-block svg{
    color: var(--color-title-in-primary);
    font-size: 2.5rem;
    margin-right: 2rem;
}

